*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--rst-font-family);
  font-size: calc(var(--rst-font-size-base) * var(--rst-font-size-scale));
  background: var(--rst-bg-primary);
  color: var(--rst-text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
